/**
 * Created by PhpStorm.
 * Author: m.white
 * Date: 25.01.19
 */

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container > .title {
  margin: 10px 0 10px;
  text-transform: uppercase;
}

.change-status {
  margin: 10px 0;
}

.check-status, .random-image {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  display: none;
}

.random-image {
  display: block;
  position: relative;
}

.random-image img {
  max-width: 100%;
}

.dropdown-menu a {
  display: none;
}

.dropdown-menu.active a {
  display: block;
}

.btn-group > .btn:focus {
  outline: none;
}

.off-btn.btn-success {
  background-image: linear-gradient(to bottom, rgb(225, 27, 34) 0, rgb(225, 27, 34) 100%);
  border-color: rgb(225, 27, 34);
}

.off-btn.btn-success:hover, .off-btn.btn-success:focus {
  background-color: rgb(225, 27, 34);
}

/*  -- form layout */
form{
  height: 40vh;
  overflow:scroll;
}
.visible {
  opacity: 1 !important;
}

.input-wrapper {
  display: block;
}
label, label input, label button{
  cursor:pointer;
  vertical-align: top;
}
.source-wrapper, .image-wrapper, .reset-wrapper label {
  display: inline-block;
  vertical-align: middle;
}

.source-wrapper {
  width: 70%;
  text-align: left;
  margin-left: 1vh;
  margin-top: 2vh;
}

.url-item {
  width: auto;
  min-width: 70%;
  margin: auto;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  border-radius: 4px;
}

.reset {
  background: url('/icons/download.jpeg') no-repeat center center/cover;
  height: 20px;
  width: 20px;
}

.button {
  display: block;
}

button {
  border-radius: 5px;
}

img {
  height: 100px;
  display: inline-block;
}

*:focus, *:active, * {
  outline: none !important;
}

body, .container {
  background: url('/icons/background.png') top left/.1%;
}

.container {
  position: relative;
  background-size: .3%;
  max-height:90vh;
}

.enable-wrapper, .reset-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.reset-wrapper {
  left: 10px;
  right: auto;
}

.errorImage, .saveError {
  color: red !important;
  opacity: 0;
}

.submit:hover, .submit:active, .add:hover, .add:active {
  background: lime;
}
button.submit.inactive:hover, button.submit.inactive:active{
  background: red;
  color:whitesmoke;
  text-shadow:none;
  cursor:initial;

}

#zero {
  margin-left: 10px;
  font-size: 11px;
}

footer {
  margin-top: 1vh;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer span{
font-size: 11px;
}
footer .btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: transparent;
}

footer .btn:hover, footer .btn:active, footer .btn:focus {
  filter: invert(1);
  background-position: initial;
}

footer .share {
  background: url('/icons/share.png') no-repeat center center/contain;
}

footer .review {
  background: url('/icons/review.png') no-repeat center center/contain;
}

footer .brand {
  background: url('https://imagebank.codebymick.com/image-swap/logoBLK.png') no-repeat center center/cover;
}
.ui-wrapper * {
  pointer-events: none;
  color: lightgray;
}

.ui-wrapper.active * {
  pointer-events: all;
  color: rgb(51, 51, 51);
}
.image-wrapper{
  height: 100px;
}
.image-wrapper > div {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
}

.image-wrapper .img-0 {
  background-image: url('https://imagebank.codebymick.com/image-swap/logo.png');
}

.fallback-text {
  transform: translate(-50%, -50%);
  color: whitesmoke!important;
  background: rgba(255, 0, 0, 0.7);
  border-radius: 5px;
  display: inline-flex;
  opacity: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  width:100%;
}
