<html>
<head>
    <script src="../js/jquery.js"></script>
    <script src="../js/option.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/options.css">
    <style>

    </style>
</head>
<body>

<div class="container">
    <h3 class="title">Custom Picture Replacement</h3>

    <div id="prompt" class="show">
        <p>Please select a category for your picture files</p>
    </div>
    <div class="dropdown">
        <select id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category
            <option value="cats">...</option>
            <option value="dogs">dogs</option>
            <option value="people">cats</option>
            <option value="things">things</option>
        </select>
    </div>

    <div class="alert alert-info check-status" id="check_status" role="alert"></div>

    <div class="alert alert-info random-image" id="random_image">
        <img>
        <img class="dummy" src="https://freddymutnosh.com/chrome/imagebank/logoNEG.png" alt="">
    </div>

    <div class="btn-group change-status pull-right" role="group" id="change_status">
        <button type="button" class="btn btn-default btn-success" data-power="true">on</button>
        <button type="button" class="btn btn-default" data-power="false">off</button>
    </div>
</div>

</body>
</html>
