<html>
<head>
    <script src="../js/jquery.js"></script>
    <script src="../js/option.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/options.css">
</head>
<body>

<div class="container">
    <h3 class="title">Magic Image Switcher</h3>

    <div id="prompt" class="show">
        <p>Please select a URL for your picture files</p>
    </div>
    <form action="" id="url-content">
        <div class="image-wrapper">
            <img class="img-0" src="https://www.codebymick.com/chrome/imagebank/logoRED.png">
            <input id="img-0" class="url-item" value="https://www.codebymick.com/chrome/imagebank/logoNEG.png"/>
        </div>
    </form>
    <button class="btn btn-default  add">add row</button>
    <button class="btn btn-default  submit">submit</button>
    <div id="element"></div>

    <div class="alert alert-info check-status" id="check_status" role="alert"></div>

    <div class="alert alert-info random-image" id="random_image">
        <img>
    </div>

    <div class="btn-group change-status pull-right" role="group" id="change_status">
        <button type="button" class="btn btn-default btn-success" data-power="true">on</button>
        <button type="button" class="btn btn-default off-btn" data-power="false">off</button>
    </div>
</div>

</body>
</html>
