<html>
<head>
    <script src="../js/jquery.js"></script>
    <script src="../js/option.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/options.css">
    <style>

    </style>
</head>
<body>

<div class="container">
    <h3 class="title">Custom Picture Replacement</h3>

    <div class="btn-group change-status" role="group" id="change_status">
        <button type="button" class="btn btn-default" data-power="true">On</button>
        <button type="button" class="btn btn-default" data-power="false">Off</button>
    </div>

    <div class="alert alert-info check-status" id="check_status" role="alert"></div>

    <div class="alert alert-info random-image" id="random_image">
        <img>
    </div>
</div>

</body>
</html>
