/**
 * Created by PhpStorm.
 * Author: m.white
 * Date: 25.01.19
 */

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container > .title {
  margin: 10px 0 10px;
  text-transform: uppercase;
}

.change-status {
  margin: 10px 0;
}

.check-status, .random-image {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  display: none;
}
.random-image{
  display: block;
  position: relative;
}

.random-image img {
  max-width: 100%;
}

.dropdown-menu a {
  display: none;
}
.dropdown-menu.active a{
  display: block;
}
#prompt{
  display: block;
  margin: 2vh auto;
  opacity: 0;
}
#prompt.show{
  opacity: 1;
}
.btn-group > .btn:focus{
  outline: none;
}
.off-btn.btn-success{
  background-image: linear-gradient(to bottom, rgb(225,27,34) 0, rgb(225,27,34) 100%);
  border-color: rgb(225,27,34);
}
.off-btn.btn-success:hover, .off-btn.btn-success:focus{
   background-color: rgb(225,27,34);
 }


option {
  height: 30px;
  line-height: 30px;
}

.dropdown{
  position: relative;
  width: 60%;
  min-width: 100px;
  height: 30px;
  margin: 1vh auto;
}
#dLabel, .editOption, .submit{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width: 85%;
  border-right: 0!important;
  outline: none;
}
#dLabel:focus, .editOption:focus, .submit:focus{
  outline: none;
}
.editOption{
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding-left: 10px;
}
.editOption, .submit{
  width: 80%;
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.submit{
  width: 10%;
  border-right: 1px solid rgb(166, 166, 166)!important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
  left: auto;
}
