/**
 * Created by PhpStorm.
 * Author: m.white
 * Date: 25.01.19
 */

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container > .title {
  margin: 10px 0 10px;
  text-transform: uppercase;
}

.change-status {
  margin: 10px 0;
}

.check-status, .random-image {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  display: none;
}

.random-image {
  display: block;
  position: relative;
}

.random-image img {
  max-width: 100%;
}

.dropdown-menu a {
  display: none;
}

.dropdown-menu.active a {
  display: block;
}

#prompt {
  display: block;
  margin: 2vh auto;
  opacity: 0;
}

#prompt.show {
  opacity: 1;
}

.btn-group > .btn:focus {
  outline: none;
}

.off-btn.btn-success {
  background-image: linear-gradient(to bottom, rgb(225, 27, 34) 0, rgb(225, 27, 34) 100%);
  border-color: rgb(225, 27, 34);
}

.off-btn.btn-success:hover, .off-btn.btn-success:focus {
  background-color: rgb(225, 27, 34);
}

body{
  background: whitesmoke url('') no-repeat center center/cover
}
/*  -- form layout */
.show {
  opacity: 1 !important;
}

.input-wrapper {
  display: block;
}

.source-wrapper, .image-wrapper, .reset-wrapper label {
  display: inline-block;
  vertical-align: middle;
}

.source-wrapper {
  width: 70%;
  text-align: left;
  margin-left: 1vh;
  margin-top: 2vh;
}

.url-item {
  width: auto;
  min-width: 85%;
  margin: auto;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.reset {
  background: url('/icons/download.jpeg') no-repeat center center/cover;
  height: 20px;
  width: 20px;
}

.button {
  display: block;
}

button {
  border-radius: 5px;
}

img {
  height: 100px;
  display: inline-block;
}

*:focus, *:active, * {
  outline: none !important;
}

.container {
  position: relative;
}

.enable-wrapper, .reset-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.reset-wrapper {
  left: 10px;
  right: auto;
}

.errorImage, .saveError {
  color: red;
  opacity: 0;
}

